<h1>Update User</h1>
<% if @user.errors.any? %>
 <div class="alert alert-danger" role="alert" style="width: 50%; height: 10%;">
    <%= @user.errors.full_messages%>
 </div>
<% end %>

    <%= form_for (current_user) do |f| %>
    
    <div class="form-group">
      <%= f.label :username %><br/>
      <%= f.text_field :username, class: "form-control" %>
    </div>
     
    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, class: "form-control" %>
    </div>
     
    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, class: "form-control" %>
    </div>  
     
    <div class="form-group">
      <%= f.submit "Update" %>
    </div>
     
    <% end %>
    <br/>
    <%= button_to 'delete', delete_user_path(current_user), class:'btn btn-danger', method: :delete %> 